:root {
    --primary-color: #f25A38;
    --secondary-color: #96D9D9;
    --tertiary-color: #F26D3D;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    color: var(--primary-color);
    font-family: 'Courier New', Courier, monospace;
   
   
}

header {
    padding:20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}



header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.intro {
    text-align: center;
}

.intro h2 {
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: var(--primary-color);
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 0 100px 20px 100px;
}

.intro p {
    line-height: 1.7;
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-align: left;
    padding: 0 20px 0 20px;
    display: flex;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 0.5)
}

.about-me {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 20px 0 20px;
    padding: 10px 10px 10px 10px;
}

img {
    max-width: 100%;
    width: 22vw;
    width: calc(24vw + 15px);
    margin: 20 20px 20 20px;
    padding: 10px 10px 10px 10px;
    
    
}


/* Hero Start */
.hero {
    /*insert background img */
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}


.hero h2 {
    font-style: italic;
    font-size: 35px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 1;
    padding: 50px;
}
.hero h3 {
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    text-align: right;
    justify-content: flex-end;
    z-index: 1;
    padding-right: 100px;
}
/* Hero Style End */







footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}
section {
    padding: 60px;
}

/* Contact Me Start */


.contact {

    background: var(--secondary-color);
}
.contact h2 {
    color: var(--primary-color);
    text-align: center;
}
.contact-form {
    font-weight: bold;
}
    .contact-form input, .contact-form textarea {
        border: 1px solid var(--secondary-color);
        display: block;
        padding: 7px 15px;
        font-size: 16px;
        color: black;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 5px;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.75);
    }
    .contact-form input:focus, .contact-form textarea:focus {
        background-color: rgba(255,255,255,1);
        outline: none;
    }
    
    .contact-form button {
        width: 100%;
        border: none;
        background: #39a6b2;
        color: white;
        text-align: center;
        padding: 15px 0;
        font-size: 16px;
        border-radius: 10px;
    }
    .contact-form button:hover {
        color: white;
        background: var(--primary-color);
}

/* Media */

@media screen and (max-width: 980px) and (orientation: Portfolio) {
    header {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
    }
    .hero {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .intro {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    .work {
        padding-bottom: 10px;
        justify-content: center;
        position: relative;
        width: 100%;
    }
}
    @media screen and (max-width: 768px) {
        .hero {
            padding: 30px 15px;
            font-size: 15px;
        }
        .header-buttons {
            font-size: 15px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .footer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }   
        
    }
        @media screen and (max-width: 575px) {
            .header-buttons {
                font-size: 15px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .footer {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                text-align: center;
            }
        }